<div class="altar-band">
  <div class="altar-img-side">
    <img src="/assets/images/altar.jpeg" alt="Beautifully decorated altar of Fathima Matha Church">
  </div>
  <div class="altar-quote-side">
    <div class="altar-quote-mark">"</div>
    <p class="altar-quote">
      Come to me, all you who are weary and burdened,
      and I will give you rest.
    </p>
    <span class="altar-cite">Matthew 11:28</span>
  </div>
</div>
