<footer>
  <div class="foot-inner">
    <div class="foot-brand">
      <img src="assets/images/fmc_logo.png" alt="FMC Logo" class="foot-logo">
      <div>
        <div class="foot-name">Fathima Matha Church</div>
        <div class="foot-sub">Syro-Malabar Catholic · Est. 1960</div>
      </div>
    </div>
    <ul class="foot-links">
      <li><a href="#about">About</a></li>
      <li><a href="#timings">Mass Timings</a></li>
      <li><a href="#hall">Hall</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="foot-copy">© <span id="year"></span> Fathima Matha Church, West Koratty</div>
  </div>
</footer>
