---
import { useTranslations } from '../i18n/utils';
const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="altar-band">
  <div class="altar-img-side">
    <img src="/assets/images/altar.jpeg" alt="Beautifully decorated altar of Fathima Matha Church">
  </div>
  <div class="altar-quote-side">
    <div class="altar-quote-mark">"</div>
    <p class="altar-quote">
      {t('altar.quote')}
    </p>
    <span class="altar-cite">{t('altar.cite')}</span>
  </div>
</div>
